In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

import tensorflow as tf

# Part1: Preprocessing

In [18]:
#Reading all of the csv files 
data10 = pd.read_csv("input_folder/Events_2010.csv")
data11 = pd.read_csv("input_folder/Events_2011.csv")
data12 = pd.read_csv("input_folder/Events_2012.csv")
data13 = pd.read_csv("input_folder/Events_2013.csv")
data14 = pd.read_csv("input_folder/Events_2014.csv")
data15 = pd.read_csv("input_folder/Events_2015.csv")
data16 = pd.read_csv("input_folder/Events_2016.csv")
data17 = pd.read_csv("input_folder/Events_2017.csv")
data18 = pd.read_csv("input_folder/Events_2018.csv")

df2=pd.read_csv('input_folder/RegularSeasonDetailedResults.csv')

ranking=pd.read_csv('input_folder/MasseyOrdinals.csv')

In [19]:
data10=data10[(data10['WPoints']>0) | (data10['LPoints']>0)]
data11=data11[(data11['WPoints']>0) | (data11['LPoints']>0)]
data12=data12[(data12['WPoints']>0) | (data12['LPoints']>0)]
data13=data13[(data13['WPoints']>0) | (data13['LPoints']>0)]
data14=data14[(data14['WPoints']>0) | (data14['LPoints']>0)]
data15=data15[(data15['WPoints']>0) | (data15['LPoints']>0)]
data16=data16[(data16['WPoints']>0) | (data16['LPoints']>0)]
data17=data17[(data17['WPoints']>0) | (data17['LPoints']>0)]
data18=data18[(data18['WPoints']>0) | (data18['LPoints']>0)]

frames=[data10,data11,data12,data13,data14,data15,data16,data17,data18]
data=pd.concat(frames)

data.reset_index(inplace = True, drop = True)

In [20]:

data['matchUniqueID']=data['Season'].map(str)+"_"+data['DayNum'].map(str)+"_"+data['WTeamID'].map(str)+"_"+data['LTeamID'].map(str)
df2['matchUniqueID']=df2['Season'].map(str)+"_"+df2['DayNum'].map(str)+"_"+df2['WTeamID'].map(str)+"_"+df2['LTeamID'].map(str)

df3=df2[['matchUniqueID','WLoc']]
df6=pd.merge(data,df3,on='matchUniqueID',how='inner')
df6

,EventID,Season,DayNum,WTeamID,LTeamID,WPoints,LPoints,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,matchUniqueID,WLoc
0,6,2010,7,1143,1293,2,0,14,1143,600581,made2_jump,2010_7_1143_1293,H
1,9,2010,7,1143,1293,2,2,40,1293,602781,made2_jump,2010_7_1143_1293,H
2,11,2010,7,1143,1293,4,2,56,1143,600581,made2_jump,2010_7_1143_1293,H
3,13,2010,7,1143,1293,4,5,72,1293,602787,made3_jump,2010_7_1143_1293,H
4,20,2010,7,1143,1293,4,6,96,1293,602781,made1_free,2010_7_1143_1293,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3677370,30069020,2018,132,1335,1217,66,63,2352,1217,649805,made3_jump,2018_132_1335_1217,N
3677371,30069025,2018,132,1335,1217,66,64,2385,1217,649796,made1_free,2018_132_1335_1217,N
3677372,30069026,2018,132,1335,1217,66,65,2385,1217,649796,made1_free,2018_132_1335_1217,N
3677373,30069032,2018,132,1335,1217,67,65,2388,1335,651530,made1_free,2018_132_1335_1217,N
3677374,30069033,2018,132,1335,1217,68,65,2388,1335,651530,made1_free,2018_132_1335_1217,N

In [21]:
def func1(df):
        if df['WTeamID']<df['LTeamID']:
            return df['WTeamID']
        else:
            return df['LTeamID']
def func2(df):
        if df['WTeamID']>df['LTeamID']:
            return df['WTeamID']
        else:
            return df['LTeamID']
def func3(df):
        if df['WTeamID']<df['LTeamID']:
            return df['WPoints']
        else:
            return df['LPoints']
def func4(df):
        if df['WTeamID']>df['LTeamID']:
            return df['WPoints']
        else:
            return df['LPoints']
def func5(df):
        if df['WTeamID']>df['LTeamID'] and df['WTeamID']==df['EventTeamID']:
            return 0
        elif df['WTeamID']<df['LTeamID'] and df['WTeamID']==df['EventTeamID']:
            return 1
        elif df['WTeamID']>df['LTeamID'] and df['LTeamID']==df['EventTeamID']:
            return 1
        else:
            return 0
def func6(df):
        if df['WTeamID']>df['LTeamID']:
            return 0
        else:
            return 1

def func7(df):
        if df['WTeamID']<df['LTeamID'] and df['WLoc']=='H':
            return 1
        elif df['WTeamID']>df['LTeamID'] and df['WLoc']=='A':
            return 1
        else:
            return 0
def func8(df):
        if df['WTeamID']<df['LTeamID'] and df['WLoc']=='A':
            return 1
        elif df['WTeamID']>df['LTeamID'] and df['WLoc']=='H':
            return 1
        else:
            return 0

In [ ]:
df7=df6.copy()
df7['TeamID1']=df7.apply(func1,axis=1)
df7['TeamID2']=df7.apply(func2,axis=1)
df7['Points1']=df7.apply(func3,axis=1)
df7['Points2']=df7.apply(func4,axis=1)
df7['EventTeam']=df7.apply(func5,axis=1) #If the event is  of Team1 then 1 else 0
df7['Win1']=df7.apply(func6,axis=1) # Whether Team1 wins
df7['isTeam1Home']=df7.apply(func7,axis=1) #Is Team1 is playing in Home Field
df7['isTeam2Home']=df7.apply(func8,axis=1) #Is Team2 is playing in Home Field ; Both cannot be 1; also if both are 0 then
#they are playing in neutral field

# Part2: Adding Ordinal Ranking in the Event by Event Data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import tensorflow as tf

In [ ]:
# If you want to start directly from part2 then uncomment the below cell and start and get df7 and 
# run the above cell to import libraries

In [ ]:
#df7=pd.read_csv('input_folder/input.csv')

In [6]:

df9=df7[['matchUniqueID','Season','DayNum','TeamID1','TeamID2','isTeam1Home','isTeam2Home','Points1','Points2', 'ElapsedSeconds','EventTeam','EventType','Win1']]

In [8]:
m=[]
for i in ranking['SystemName'].unique():
    m.append((i,len(ranking[ranking['SystemName']==i])))
m=pd.DataFrame(m)

m.sort_values(by=1,ascending=False,inplace=True)
type_of_ranking= m.head(40)

type_of_ranking.reset_index(drop=True,inplace=True)
type_of_ranking.rename(columns={0:'Type_of_ranking',1:'No_of_data_points'},inplace=True)

type_of_ranking.head(5)

  Type_of_ranking  No_of_data_points
0             SAG              98640
1             MOR              97650
2             POM              95159
3             DOK              81913
4             WLK              79757

In [ ]:
df10=df9.copy()

# selecting 'SAG' 
rank=ranking[ranking['SystemName']=='SAG'] 
l1=[0]*len(df10)
l2=[0]*len(df10)
for i in range(1,len(df10)):
    if df10.loc[i]['matchUniqueID']==df10.loc[i-1]['matchUniqueID']:
        l1[i]=l1[i-1]
        l2[i]=l2[i-1]
    else:
        if len(rank[rank['TeamID']==df10.loc[i]['TeamID1']][(rank['Season']<df10.loc[i]['Season'])|((rank['Season']==df10.loc[i]['Season'])&(rank['RankingDayNum']<=df10.loc[i]['DayNum']))])!=0:
            l1[i]=rank[rank['TeamID']==df10.loc[i]['TeamID1']][(rank['Season']<df10.loc[i]['Season'])|((rank['Season']==df10.loc[i]['Season'])&(rank['RankingDayNum']<=df10.loc[i]['DayNum']))].iloc[-1]['OrdinalRank']
        if len(rank[rank['TeamID']==df10.loc[i]['TeamID2']][(rank['Season']<df10.loc[i]['Season'])|((rank['Season']==df10.loc[i]['Season'])&(rank['RankingDayNum']<=df10.loc[i]['DayNum']))])!=0:
            l2[i]=rank[rank['TeamID']==df10.loc[i]['TeamID2']][(rank['Season']<df10.loc[i]['Season'])|((rank['Season']==df10.loc[i]['Season'])&(rank['RankingDayNum']<=df10.loc[i]['DayNum']))].iloc[-1]['OrdinalRank']

l1=pd.DataFrame(l1)
l2=pd.DataFrame(l2)
df10.insert(df10.shape[1],'OrdRankTeam1',l1)
df10.insert(df10.shape[1],'OrdRankTeam2',l2)

In [ ]:
df10.loc[0:81,'OrdRankTeam1']=rank[rank['TeamID']==df10.loc[0]['TeamID1']][(rank['Season']<df10.loc[0]['Season'])|((rank['Season']==df10.loc[0]['Season'])&(rank['RankingDayNum']<=df10.loc[0]['DayNum']))].iloc[-1]['OrdinalRank']
df10.loc[0:81,'OrdRankTeam2']=rank[rank['TeamID']==df10.loc[0]['TeamID2']][(rank['Season']<df10.loc[0]['Season'])|((rank['Season']==df10.loc[0]['Season'])&(rank['RankingDayNum']<=df10.loc[0]['DayNum']))].iloc[-1]['OrdinalRank']

# Part 3 : Training and Testing

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import tensorflow as tf

In [9]:
# If you want to start directly from part2 then uncomment the below cell and start and get df10
# run the above cell to import libraries

In [10]:
df10=pd.read_csv('input_folder/inputWithRank.csv')
df10.drop(labels='Unnamed: 0',axis=1,inplace=True)

In [11]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df10['EventType']= label_encoder.fit_transform(df10['EventType'])
df10.drop(labels='matchUniqueID',axis=1,inplace=True)
df10.drop(labels=['DayNum','TeamID1','TeamID2'],axis=1,inplace=True)

In [15]:

model2 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(8, activation='relu', input_shape=[9,]),
    tf.keras.layers.Dense(8, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

df11=df10[df10['Season']<=2017]
df12=df10[df10['Season']>2017]

model2.compile(optimizer=tf.keras.optimizers.RMSprop(1e-3), loss='binary_crossentropy', metrics=['accuracy', 'AUC'])
model2.summary()
model2.fit(df11[['isTeam1Home', 'isTeam2Home', 'Points1', 'Points2','ElapsedSeconds', 'EventTeam', 'EventType', 'OrdRankTeam1','OrdRankTeam2']].to_numpy(),
          df11['Win1'].to_numpy(),
          verbose=1,
          shuffle=True,
          epochs=20,
          batch_size=512)

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 8)                 80
_________________________________________________________________
dense_4 (Dense)              (None, 8)                 72
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 9
=================================================================
Total params: 161
Trainable params: 161
Non-trainable params: 0
_________________________________________________________________
Epoch 1/20
6346/6346 [==============================] - 7s 1ms/step - loss: 2.6036 - accuracy: 0.6806 - auc: 0.7449: 0s - loss: 2.7693 - accuracy:
Epoch 2/20
6346/6346 [==============================] - 6s 994us/step - loss: 0.4486 - accuracy: 0.7819 - auc: 0.8718
Epoch 3/20
6346/6346 [==============================] - 6s 981us/step - loss: 0.4104 - accuracy: 0.8036 - auc: 0.8927
Epoch 4/20
6346/6346 [==============================] - 6s 1ms/step - loss: 0.3939 - accuracy: 0.8116 - auc: 0.9007
Epoch 5/20
6346/6346 [==============================] - 6s 987us/step - loss: 0.3864 - accuracy: 0.8156 - auc: 0.9045
Epoch 6/20
6346/6346 [==============================] - 6s 1ms/step - loss: 0.3837 - accuracy: 0.8170 - auc: 0.9059: 0s - loss: 0.3838 - accu
Epoch 7/20
6346/6346 [==============================] - 7s 1ms/step - loss: 0.3817 - accuracy: 0.8182 - auc: 0.9069
Epoch 8/20
6346/6346 [==============================] - 7s 1ms/step - loss: 0.3778 - accuracy: 0.8205 - auc: 0.9089
Epoch 9/20
6346/6346 [==============================] - 7s 1ms/step - loss: 0.3749 - accuracy: 0.8216 - auc: 0.9103
Epoch 10/20
6346/6346 [==============================] - 7s 1ms/step - loss: 0.3730 - accuracy: 0.8224 - auc: 0.9112
Epoch 11/20
6346/6346 [==============================] - 7s 1ms/step - loss: 0.3718 - accuracy: 0.8226 - auc: 0.9117: 0s - loss: 0.3719 - accuracy:
Epoch 12/20
6346/6346 [==============================] - 7s 1ms/step - loss: 0.3708 - accuracy: 0.8232 - auc: 0.9122
Epoch 13/20
6346/6346 [==============================] - 7s 1ms/step - loss: 0.3699 - accuracy: 0.8237 - auc: 0.9127
Epoch 14/20
6346/6346 [==============================] - 7s 1ms/step - loss: 0.3695 - accuracy: 0.8240 - auc: 0.9129
Epoch 15/20
6346/6346 [==============================] - 7s 1ms/step - loss: 0.3690 - accuracy: 0.8241 - auc: 0.9131
Epoch 16/20
6346/6346 [==============================] - 7s 1ms/step - loss: 0.3687 - accuracy: 0.8243 - auc: 0.9132
Epoch 17/20
6346/6346 [==============================] - 7s 1ms/step - loss: 0.3684 - accuracy: 0.8244 - auc: 0.9133
Epoch 18/20
6346/6346 [==============================] - 7s 1ms/step - loss: 0.3682 - accuracy: 0.8246 - auc: 0.9134
Epoch 19/20
6346/6346 [==============================] - 7s 1ms/step - loss: 0.3679 - accuracy: 0.8248 - auc: 0.9136
Epoch 20/20
6346/6346 [==============================] - 7s 1ms/step - loss: 0.3677 - accuracy: 0.8248 - auc: 0.9137

In [22]:
y_pred=model2.predict(df12[['isTeam1Home', 'isTeam2Home', 'Points1', 'Points2','ElapsedSeconds', 'EventTeam', 'EventType', 'OrdRankTeam1','OrdRankTeam2']])
y_pred=pd.DataFrame(y_pred)
y=df12[['Win1']]
y.insert(1,'y_pred',y_pred)
y.rename(columns={'Win1':'y_true'},inplace=True)
y['Error']=abs(y['y_true']-y['y_pred'])**2


y['y_pred_binary']=[1 if x>=0.5 else 0 for x in y['y_pred']]
y['Misclassification']=(y['y_pred_binary']-y['y_true'])**2  # here 1=misclassification, 0 means correct prediction
print("Mean Square Error is :",y['Error'].mean())


print("Root Mean Square Error RMSE is :",np.sqrt(y['Error'].mean()))


from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score
r2 = r2_score(y['y_true'], y['y_pred'])
print('R2 value is', r2)

accuracy=accuracy_score(y['y_true'], y['y_pred_binary'])
print("Accuracy is", accuracy)

print("Misclassification Error is", y['Misclassification'].mean())

Mean Square Error is : 0.12089151310372775
Root Mean Square Error RMSE is : 0.3476945687003577
R2 value is 0.5144095211561348
Accuracy is 0.8247719186844588
Misclassification Error is 0.17522808131554127