In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

import tensorflow as tf

# Part1: Preprocessing

In [2]:
#Reading all of the csv files 
data10 = pd.read_csv("input_folder/Events_2010.csv")
data11 = pd.read_csv("input_folder/Events_2011.csv")
data12 = pd.read_csv("input_folder/Events_2012.csv")
data13 = pd.read_csv("input_folder/Events_2013.csv")
data14 = pd.read_csv("input_folder/Events_2014.csv")
data15 = pd.read_csv("input_folder/Events_2015.csv")
data16 = pd.read_csv("input_folder/Events_2016.csv")
data17 = pd.read_csv("input_folder/Events_2017.csv")
data18 = pd.read_csv("input_folder/Events_2018.csv")

df2=pd.read_csv('input_folder/RegularSeasonDetailedResults.csv')

ranking=pd.read_csv('input_folder/MasseyOrdinals.csv')

In [3]:
data10=data10[(data10['WPoints']>0) | (data10['LPoints']>0)]
data11=data11[(data11['WPoints']>0) | (data11['LPoints']>0)]
data12=data12[(data12['WPoints']>0) | (data12['LPoints']>0)]
data13=data13[(data13['WPoints']>0) | (data13['LPoints']>0)]
data14=data14[(data14['WPoints']>0) | (data14['LPoints']>0)]
data15=data15[(data15['WPoints']>0) | (data15['LPoints']>0)]
data16=data16[(data16['WPoints']>0) | (data16['LPoints']>0)]
data17=data17[(data17['WPoints']>0) | (data17['LPoints']>0)]
data18=data18[(data18['WPoints']>0) | (data18['LPoints']>0)]

frames=[data10,data11,data12,data13,data14,data15,data16,data17,data18]
data=pd.concat(frames)

data.reset_index(inplace = True, drop = True)

In [4]:

data['matchUniqueID']=data['Season'].map(str)+"_"+data['DayNum'].map(str)+"_"+data['WTeamID'].map(str)+"_"+data['LTeamID'].map(str)
df2['matchUniqueID']=df2['Season'].map(str)+"_"+df2['DayNum'].map(str)+"_"+df2['WTeamID'].map(str)+"_"+df2['LTeamID'].map(str)

df3=df2[['matchUniqueID','WLoc']]
df6=pd.merge(data,df3,on='matchUniqueID',how='inner')
df6

,EventID,Season,DayNum,WTeamID,LTeamID,WPoints,LPoints,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,matchUniqueID,WLoc
0,6,2010,7,1143,1293,2,0,14,1143,600581,made2_jump,2010_7_1143_1293,H
1,9,2010,7,1143,1293,2,2,40,1293,602781,made2_jump,2010_7_1143_1293,H
2,11,2010,7,1143,1293,4,2,56,1143,600581,made2_jump,2010_7_1143_1293,H
3,13,2010,7,1143,1293,4,5,72,1293,602787,made3_jump,2010_7_1143_1293,H
4,20,2010,7,1143,1293,4,6,96,1293,602781,made1_free,2010_7_1143_1293,H
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3677370,30069020,2018,132,1335,1217,66,63,2352,1217,649805,made3_jump,2018_132_1335_1217,N
3677371,30069025,2018,132,1335,1217,66,64,2385,1217,649796,made1_free,2018_132_1335_1217,N
3677372,30069026,2018,132,1335,1217,66,65,2385,1217,649796,made1_free,2018_132_1335_1217,N
3677373,30069032,2018,132,1335,1217,67,65,2388,1335,651530,made1_free,2018_132_1335_1217,N
3677374,30069033,2018,132,1335,1217,68,65,2388,1335,651530,made1_free,2018_132_1335_1217,N

In [5]:
def func1(df):
        if df['WTeamID']<df['LTeamID']:
            return df['WTeamID']
        else:
            return df['LTeamID']
def func2(df):
        if df['WTeamID']>df['LTeamID']:
            return df['WTeamID']
        else:
            return df['LTeamID']
def func3(df):
        if df['WTeamID']<df['LTeamID']:
            return df['WPoints']
        else:
            return df['LPoints']
def func4(df):
        if df['WTeamID']>df['LTeamID']:
            return df['WPoints']
        else:
            return df['LPoints']
def func5(df):
        if df['WTeamID']>df['LTeamID'] and df['WTeamID']==df['EventTeamID']:
            return 0
        elif df['WTeamID']<df['LTeamID'] and df['WTeamID']==df['EventTeamID']:
            return 1
        elif df['WTeamID']>df['LTeamID'] and df['LTeamID']==df['EventTeamID']:
            return 1
        else:
            return 0
def func6(df):
        if df['WTeamID']>df['LTeamID']:
            return 0
        else:
            return 1

def func7(df):
        if df['WTeamID']<df['LTeamID'] and df['WLoc']=='H':
            return 1
        elif df['WTeamID']>df['LTeamID'] and df['WLoc']=='A':
            return 1
        else:
            return 0
def func8(df):
        if df['WTeamID']<df['LTeamID'] and df['WLoc']=='A':
            return 1
        elif df['WTeamID']>df['LTeamID'] and df['WLoc']=='H':
            return 1
        else:
            return 0

In [ ]:
df7=df6.copy()
df7['TeamID1']=df7.apply(func1,axis=1)
df7['TeamID2']=df7.apply(func2,axis=1)
df7['Points1']=df7.apply(func3,axis=1)
df7['Points2']=df7.apply(func4,axis=1)
df7['EventTeam']=df7.apply(func5,axis=1) #If the event is  of Team1 then 1 else 0
df7['Win1']=df7.apply(func6,axis=1) # Whether Team1 wins
df7['isTeam1Home']=df7.apply(func7,axis=1) #Is Team1 is playing in Home Field
df7['isTeam2Home']=df7.apply(func8,axis=1) #Is Team2 is playing in Home Field ; Both cannot be 1; also if both are 0 then
#they are playing in neutral field

# Part2: Adding Ordinal Ranking in the Event by Event Data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import tensorflow as tf

In [ ]:
# If you want to start directly from part2 then uncomment the below cell and start and get df7 and 
# run the above cell to import libraries

In [ ]:
#df7=pd.read_csv('input_folder/input.csv')

In [6]:

df9=df7[['matchUniqueID','Season','DayNum','TeamID1','TeamID2','isTeam1Home','isTeam2Home','Points1','Points2', 'ElapsedSeconds','EventTeam','EventType','Win1']]

In [8]:
m=[]
for i in ranking['SystemName'].unique():
    m.append((i,len(ranking[ranking['SystemName']==i])))
m=pd.DataFrame(m)

m.sort_values(by=1,ascending=False,inplace=True)
type_of_ranking= m.head(40)

type_of_ranking.reset_index(drop=True,inplace=True)
type_of_ranking.rename(columns={0:'Type_of_ranking',1:'No_of_data_points'},inplace=True)

type_of_ranking.head(5)

  Type_of_ranking  No_of_data_points
0             SAG              98640
1             MOR              97650
2             POM              95159
3             DOK              81913
4             WLK              79757

In [12]:
df10=df9.copy()

# selecting 'SAG' 
rank=ranking[ranking['SystemName']=='SAG'] 
l1=[0]*len(df10)
l2=[0]*len(df10)
for i in range(1,len(df10)):
    if df10.loc[i]['matchUniqueID']==df10.loc[i-1]['matchUniqueID']:
        l1[i]=l1[i-1]
        l2[i]=l2[i-1]
    else:
        if len(rank[rank['TeamID']==df10.loc[i]['TeamID1']][(rank['Season']<df10.loc[i]['Season'])|((rank['Season']==df10.loc[i]['Season'])&(rank['RankingDayNum']<=df10.loc[i]['DayNum']))])!=0:
            l1[i]=rank[rank['TeamID']==df10.loc[i]['TeamID1']][(rank['Season']<df10.loc[i]['Season'])|((rank['Season']==df10.loc[i]['Season'])&(rank['RankingDayNum']<=df10.loc[i]['DayNum']))].iloc[-1]['OrdinalRank']
        if len(rank[rank['TeamID']==df10.loc[i]['TeamID2']][(rank['Season']<df10.loc[i]['Season'])|((rank['Season']==df10.loc[i]['Season'])&(rank['RankingDayNum']<=df10.loc[i]['DayNum']))])!=0:
            l2[i]=rank[rank['TeamID']==df10.loc[i]['TeamID2']][(rank['Season']<df10.loc[i]['Season'])|((rank['Season']==df10.loc[i]['Season'])&(rank['RankingDayNum']<=df10.loc[i]['DayNum']))].iloc[-1]['OrdinalRank']

l1=pd.DataFrame(l1)
l2=pd.DataFrame(l2)
df10.insert(df10.shape[1],'OrdRankTeam1',l1)
df10.insert(df10.shape[1],'OrdRankTeam2',l2)

C:\Users\UJJAL\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':
C:\Users\UJJAL\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # Remove the CWD from sys.path while we load stuff.
C:\Users\UJJAL\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # This is added back by InteractiveShellApp.init_path()
C:\Users\UJJAL\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if sys.path[0] == '':

In [15]:
df10.loc[0:81,'OrdRankTeam1']=rank[rank['TeamID']==df10.loc[0]['TeamID1']][(rank['Season']<df10.loc[0]['Season'])|((rank['Season']==df10.loc[0]['Season'])&(rank['RankingDayNum']<=df10.loc[0]['DayNum']))].iloc[-1]['OrdinalRank']
df10.loc[0:81,'OrdRankTeam2']=rank[rank['TeamID']==df10.loc[0]['TeamID2']][(rank['Season']<df10.loc[0]['Season'])|((rank['Season']==df10.loc[0]['Season'])&(rank['RankingDayNum']<=df10.loc[0]['DayNum']))].iloc[-1]['OrdinalRank']

C:\Users\UJJAL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
C:\Users\UJJAL\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

# Part 3 : Training and Testing

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import tensorflow as tf

In [ ]:
# If you want to start directly from part2 then uncomment the below cell and start and get df10
# run the above cell to import libraries

In [ ]:
#df10=pd.read_csv('input_folder/inputWithRank.csv')
#df10.drop(labels='Unnamed: 0',axis=1,inplace=True)

In [12]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df10['EventType']= label_encoder.fit_transform(df10['EventType'])
df10.drop(labels='matchUniqueID',axis=1,inplace=True)
df10.drop(labels=['DayNum','TeamID1','TeamID2'],axis=1,inplace=True)

In [13]:

model2 = tf.keras.models.Sequential([
    tf.keras.layers.Dense(12, activation='relu', input_shape=[9,]),
    tf.keras.layers.Dense(12, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

df11=df10[df10['Season']<=2017]
df12=df10[df10['Season']>2017]

model2.compile(optimizer=tf.keras.optimizers.RMSprop(1e-3), loss='binary_crossentropy', metrics=['accuracy', 'AUC'])
model2.summary()
model2.fit(df11[['isTeam1Home', 'isTeam2Home', 'Points1', 'Points2','ElapsedSeconds', 'EventTeam', 'EventType', 'OrdRankTeam1','OrdRankTeam2']].to_numpy(),
          df11['Win1'].to_numpy(),
          verbose=1,
          shuffle=True,
          epochs=50,
          batch_size=512)

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 12)                120
_________________________________________________________________
dense_1 (Dense)              (None, 12)                156
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 13
=================================================================
Total params: 289
Trainable params: 289
Non-trainable params: 0
_________________________________________________________________
Epoch 1/50
6346/6346 [==============================] - 24s 1ms/step - loss: 1.6218 - accuracy: 0.7090 - auc: 0.7856 0s - loss: 1.7110 - ac
Epoch 2/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.5675 - accuracy: 0.7606 - auc: 0.8482
Epoch 3/50
6346/6346 [==============================] - 7s 1ms/step - loss: 0.4581 - accuracy: 0.7847 - auc: 0.8749
Epoch 4/50
6346/6346 [==============================] - 7s 1ms/step - loss: 0.4207 - accuracy: 0.7992 - auc: 0.8891
Epoch 5/50
6346/6346 [==============================] - 7s 1ms/step - loss: 0.4010 - accuracy: 0.8084 - auc: 0.8977
Epoch 6/50
6346/6346 [==============================] - 7s 1ms/step - loss: 0.3886 - accuracy: 0.8147 - auc: 0.9035
Epoch 7/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3807 - accuracy: 0.8186 - auc: 0.9074
Epoch 8/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3756 - accuracy: 0.8211 - auc: 0.9099
Epoch 9/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3722 - accuracy: 0.8227 - auc: 0.9115
Epoch 10/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3702 - accuracy: 0.8238 - auc: 0.9125
Epoch 11/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3692 - accuracy: 0.8241 - auc: 0.9130
Epoch 12/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3684 - accuracy: 0.8244 - auc: 0.9133: 0s - loss: 0.3685 - accuracy: 0.8243 - auc - ETA: 0s - loss: 0.3685 - accuracy
Epoch 13/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3679 - accuracy: 0.8246 - auc: 0.9135
Epoch 14/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3676 - accuracy: 0.8248 - auc: 0.9137
Epoch 15/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3672 - accuracy: 0.8251 - auc: 0.9139
Epoch 16/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3667 - accuracy: 0.8251 - auc: 0.9141
Epoch 17/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3665 - accuracy: 0.8253 - auc: 0.9142
Epoch 18/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3663 - accuracy: 0.8252 - auc: 0.9143
Epoch 19/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3662 - accuracy: 0.8252 - auc: 0.9143
Epoch 20/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3659 - accuracy: 0.8254 - auc: 0.9144
Epoch 21/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3656 - accuracy: 0.8254 - auc: 0.9146
Epoch 22/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3654 - accuracy: 0.8255 - auc: 0.9147
Epoch 23/50
6346/6346 [==============================] - 9s 1ms/step - loss: 0.3652 - accuracy: 0.8255 - auc: 0.9147
Epoch 24/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3651 - accuracy: 0.8256 - auc: 0.9148
Epoch 25/50
6346/6346 [==============================] - 9s 1ms/step - loss: 0.3650 - accuracy: 0.8256 - auc: 0.9148
Epoch 26/50
6346/6346 [==============================] - 9s 1ms/step - loss: 0.3650 - accuracy: 0.8257 - auc: 0.9148
Epoch 27/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3649 - accuracy: 0.8257 - auc: 0.9149
Epoch 28/50
6346/6346 [==============================] - 9s 1ms/step - loss: 0.3646 - accuracy: 0.8258 - auc: 0.9150
Epoch 29/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3648 - accuracy: 0.8257 - auc: 0.9150
Epoch 30/50
6346/6346 [==============================] - 9s 1ms/step - loss: 0.3647 - accuracy: 0.8258 - auc: 0.9150
Epoch 31/50
6346/6346 [==============================] - 9s 1ms/step - loss: 0.3646 - accuracy: 0.8258 - auc: 0.9150
Epoch 32/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3645 - accuracy: 0.8260 - auc: 0.9151
Epoch 33/50
6346/6346 [==============================] - 7s 1ms/step - loss: 0.3645 - accuracy: 0.8259 - auc: 0.9151: 0s - loss: 0.3646 - accuracy: 0.82 - ETA: 0s - loss: 0.3646 - accura
Epoch 34/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3644 - accuracy: 0.8259 - auc: 0.9151
Epoch 35/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3645 - accuracy: 0.8259 - auc: 0.9151
Epoch 36/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3646 - accuracy: 0.8258 - auc: 0.9150
Epoch 37/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3643 - accuracy: 0.8259 - auc: 0.9152
Epoch 38/50
6346/6346 [==============================] - 9s 1ms/step - loss: 0.3643 - accuracy: 0.8259 - auc: 0.9152
Epoch 39/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3646 - accuracy: 0.8259 - auc: 0.9151
Epoch 40/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3643 - accuracy: 0.8260 - auc: 0.9152
Epoch 41/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3644 - accuracy: 0.8260 - auc: 0.9152
Epoch 42/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3646 - accuracy: 0.8260 - auc: 0.9151
Epoch 43/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3644 - accuracy: 0.8260 - auc: 0.9152: 0s - loss: 0
Epoch 44/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3642 - accuracy: 0.8261 - auc: 0.9153: 1s - los
Epoch 45/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3641 - accuracy: 0.8261 - auc: 0.9153
Epoch 46/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3642 - accuracy: 0.8261 - auc: 0.9153
Epoch 47/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3641 - accuracy: 0.8262 - auc: 0.9153
Epoch 48/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3640 - accuracy: 0.8262 - auc: 0.9154
Epoch 49/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3643 - accuracy: 0.8261 - auc: 0.9152
Epoch 50/50
6346/6346 [==============================] - 8s 1ms/step - loss: 0.3643 - accuracy: 0.8261 - auc: 0.9153

In [23]:
y_pred=model2.predict(df12[['isTeam1Home', 'isTeam2Home', 'Points1', 'Points2','ElapsedSeconds', 'EventTeam', 'EventType', 'OrdRankTeam1','OrdRankTeam2']])
y_pred=pd.DataFrame(y_pred)
y=df12[['Win1']]
y.insert(1,'y_pred',y_pred)
y.rename(columns={'Win1':'y_true'},inplace=True)
y['Error']=abs(y['y_true']-y['y_pred'])**2


y['y_pred_binary']=[1 if x>=0.5 else 0 for x in y['y_pred']]
y['Misclassification']=(y['y_pred_binary']-y['y_true'])**2  # here 1=misclassification, 0 means correct prediction
print("Mean Square Error is :",y['Error'].mean())


from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score
r2 = r2_score(y['y_true'], y['y_pred'])
print('R2 value is', r2)

accuracy=accuracy_score(y['y_true'], y['y_pred_binary'])
print("Accuracy is", accuracy)

print("Misclassification Error is", y['Misclassification'].mean())

Mean Square Error is : 0.11839038110807311
R2 value is 0.5244559326224078
Accuracy is 0.8269313374856427
Misclassification Error is 0.1730686625143572

In [24]:
y

         y_true    y_pred     Error  y_pred_binary  Misclassification
3249019       1  0.638940  0.130364              1                  0
3249020       1  0.694086  0.093583              1                  0
3249021       1  0.655851  0.118439              1                  0
3249022       1  0.663550  0.113199              1                  0
3249023       1  0.691121  0.095406              1                  0
...         ...       ...       ...            ...                ...
3677370       0  0.122260  0.014948              0                  0
3677371       0  0.166652  0.027773              0                  0
3677372       0  0.277801  0.077173              0                  0
3677373       0  0.206139  0.042493              0                  0
3677374       0  0.118756  0.014103              0                  0

[428356 rows x 5 columns]